basePath: /
definitions:
  azureopenai.Config:
    properties:
      apiVersion:
        description: The API version to use for this operation. This follows the YYYY-MM-DD
          format (e.g 2023-05-15)
        type: string
      baseUrl:
        description: The name of your Azure OpenAI Resource (e.g https://glide-test.openai.azure.com/)
        type: string
      chatEndpoint:
        type: string
      defaultParams:
        $ref: '#/definitions/azureopenai.Params'
      model:
        description: The name of your model deployment. You're required to first deploy
          a model before you can make calls (e.g. glide-gpt-35)
        type: string
    required:
    - apiVersion
    - baseUrl
    - model
    type: object
  azureopenai.Params:
    properties:
      frequency_penalty:
        type: integer
      logit_bias:
        additionalProperties:
          type: number
        type: object
      max_tokens:
        type: integer
      "n":
        type: integer
      presence_penalty:
        type: integer
      response_format:
        description: 'TODO: should this be a part of the chat request API?'
      seed:
        type: integer
      stop:
        items:
          type: string
        type: array
      temperature:
        type: number
      tool_choice: {}
      tools:
        items:
          type: string
        type: array
      top_p:
        type: number
      user:
        type: string
    type: object
  clients.ClientConfig:
    properties:
      timeout:
        type: string
    type: object
  http.ErrorSchema:
    properties:
      message:
        type: string
    type: object
  http.HealthSchema:
    properties:
      healthy:
        type: boolean
    type: object
  http.RouterListSchema:
    properties:
      routers:
        items:
          $ref: '#/definitions/routers.LangRouterConfig'
        type: array
    type: object
  latency.Config:
    properties:
      decay:
        description: Weight of new latency measurements
        type: number
      update_interval:
        description: How often gateway should probe models with not the lowest response
          latency
        type: string
      warmup_samples:
        description: The number of latency probes required to init moving average
        type: integer
    type: object
  openai.Config:
    properties:
      baseUrl:
        type: string
      chatEndpoint:
        type: string
      defaultParams:
        $ref: '#/definitions/openai.Params'
      model:
        type: string
    required:
    - baseUrl
    - chatEndpoint
    - model
    type: object
  openai.Params:
    properties:
      frequency_penalty:
        type: integer
      logit_bias:
        additionalProperties:
          type: number
        type: object
      max_tokens:
        type: integer
      "n":
        type: integer
      presence_penalty:
        type: integer
      response_format:
        description: 'TODO: should this be a part of the chat request API?'
      seed:
        type: integer
      stop:
        items:
          type: string
        type: array
      temperature:
        type: number
      tool_choice: {}
      tools:
        items:
          type: string
        type: array
      top_p:
        type: number
      user:
        type: string
    type: object
  providers.LangModelConfig:
    properties:
      azureopenai:
        $ref: '#/definitions/azureopenai.Config'
      client:
        $ref: '#/definitions/clients.ClientConfig'
      enabled:
        description: Is the model enabled?
        type: boolean
      error_budget:
        type: string
      id:
        description: Model instance ID (unique in scope of the router)
        type: string
      latency:
        $ref: '#/definitions/latency.Config'
      openai:
        $ref: '#/definitions/openai.Config'
    required:
    - id
    type: object
  retry.ExpRetryConfig:
    properties:
      base_multiplier:
        type: integer
      max_delay:
        type: integer
      max_retries:
        type: integer
      min_delay:
        type: integer
    type: object
  routers.LangRouterConfig:
    properties:
      enabled:
        description: Is router enabled?
        type: boolean
      models:
        description: the list of models that could handle requests
        items:
          $ref: '#/definitions/providers.LangModelConfig'
        type: array
      retry:
        allOf:
        - $ref: '#/definitions/retry.ExpRetryConfig'
        description: retry when no healthy model is available to router
      routers:
        description: Unique router ID
        type: string
      strategy:
        allOf:
        - $ref: '#/definitions/routing.Strategy'
        description: strategy on picking the next model to serve the request
        enum:
        - least_latency
        - round_robin
        - priority
    required:
    - models
    - routers
    type: object
  routing.Strategy:
    enum:
    - least_latency
    - priority
    - round_robin
    type: string
    x-enum-varnames:
    - LeastLatency
    - Priority
    - RoundRobin
  schemas.ChatMessage:
    properties:
      content:
        description: The content of the message.
        type: string
      name:
        description: |-
          The name of the author of this message. May contain a-z, A-Z, 0-9, and underscores,
          with a maximum length of 64 characters.
        type: string
      role:
        description: The role of the author of this message. One of system, user,
          or assistant.
        type: string
    type: object
  schemas.ProviderResponse:
    properties:
      message:
        $ref: '#/definitions/schemas.ChatMessage'
      responseId:
        additionalProperties:
          type: string
        type: object
      tokenCount:
        $ref: '#/definitions/schemas.TokenCount'
    type: object
  schemas.TokenCount:
    properties:
      promptTokens:
        type: number
      responseTokens:
        type: number
      totalTokens:
        type: number
    type: object
  schemas.UnifiedChatRequest:
    properties:
      message:
        $ref: '#/definitions/schemas.ChatMessage'
      messageHistory:
        items:
          $ref: '#/definitions/schemas.ChatMessage'
        type: array
    type: object
  schemas.UnifiedChatResponse:
    properties:
      cached:
        type: boolean
      created:
        type: integer
      id:
        type: string
      model:
        type: string
      model_id:
        type: string
      modelResponse:
        $ref: '#/definitions/schemas.ProviderResponse'
      provider:
        type: string
      router:
        type: string
    type: object
host: localhost:9099
info:
  contact:
    name: Glide Community
    url: https://github.com/modelgateway/glide
  description: API documentation for Glide, an open-source lightweight high-performance
    model gateway
  license:
    name: Apache 2.0
    url: https://github.com/modelgateway/glide/blob/develop/LICENSE
  title: Glide Gateway
  version: "1.0"
paths:
  /v1/health/:
    get:
      consumes:
      - application/json
      operationId: glide-health
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/http.HealthSchema'
      summary: Gateway Health
      tags:
      - Operations
  /v1/language/:
    get:
      consumes:
      - application/json
      description: Retrieve list of configured language routers and their configurations
      operationId: glide-language-routers
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/http.RouterListSchema'
      summary: Language Router List
      tags:
      - Language
  /v1/language/{router}/chat:
    post:
      consumes:
      - application/json
      description: Talk to different LLMs Chat API via unified endpoint
      operationId: glide-language-chat
      parameters:
      - description: Router ID
        in: path
        name: router
        required: true
        type: string
      - description: Request Data
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/schemas.UnifiedChatRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/schemas.UnifiedChatResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/http.ErrorSchema'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/http.ErrorSchema'
      summary: Language Chat
      tags:
      - Language
schemes:
- http
swagger: "2.0"
